.slds-section__title{
    background-color: YellowGreen;
    color: white
}

.slds-modal__header{
    background-color: OliveDrab;
    color: white
}

.slds-modal__container {
    height : 95vh !important; 
    max-height: 95vh !important;
    width : 95vh !important; 
    max-width: 95vh !important;
}